
ul,
li {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline;
}

ul {
  display: flex;
  overflow-x: auto; /* Permite que se desplace horizontalmente */
  scroll-behavior: smooth; /* Para un desplazamiento suave */
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Main container */

.main-main-container{
  width: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* Slider container */
.slider-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}


/* dots carrusel */
.dots-container {
  display: flex;
  justify-content: center;
}

.dot-container-item {
  margin:  8px  3px;
  cursor: pointer;
  font-size: 8px;
  text-align: center;
}

div.inactive {
  color:rgb(75, 73, 73);
  border-radius: 50%;
}


/* Arrows */
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.container-images {
  width: 1280px;
  height: 464px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  align-items: center;
}



/* ...el resto de tu CSS... */

.texts {
  position: absolute;
  top: 20px; /* Ajusta la posición vertical si es necesario */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Centrar correctamente */
  text-align: left; /* Alinear el texto al centro */
  padding: 10px 20px; /* Agregar espacio alrededor del texto */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente para el texto */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  z-index: 2; /* Asegúrate de que el texto esté sobre las imágenes */
}

.Car-title {
  font-size: 24px; /* Ajusta el tamaño según necesites */
  margin: 0; /* Eliminar márgenes por defecto */
}

.Car-desc {
  font-size: 16px; /* Ajusta el tamaño según necesites */
  margin: 5px 0 0 0; /* Espaciado entre el título y la descripción */
}

/* ...el resto de tu CSS... */


div.active {
  color: rgb(172, 164, 164);
  border-radius: 50%;
}