/* Carousel */
/* Partners */
.OP_desc{
    max-width: 30rem;
    text-align: center;
}

.OP_title{
    margin: 0;
    margin-top: 35px;
}



/*General*/
em {
	font-family: "Playfair Display", "Times New Roman", Times, serif;
	font-size: inherit;
	font-style: italic;
	font-weight: 700;
	line-height: inherit;
	color: #767877;
}

h3{
    margin: 0;
}
ul{
    margin: 0;
}